/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}


/* stlying for header */
header {
	background-color: #111;
	text-align: center;
	padding: 20px 0;
	border-bottom: 1 px solid #444;
}

header h1 {
	color: #fff;
	font-size: 2em;
	margin: 0;
}

 #text-intro {
	color: #ff0000;
	font-style: italic;
 }

 /* styling for main context*/
 main {
	padding: 20px;
 }
 /* Section styling for padding and set border */

 section{
	border: 1px solid #ff0000;
	padding: 15px;
	margin-bottom: 20px
 }

 h3 {
	color: #ff0000;
	font-size: 1.8em;
	border-bottom: 1px solid #444;
	padding-bottom: 5px;
 }

 /* About section styling for image moves images to proper place and sets the right size */
 #about-photo {
	width: 100%;
	max-width: 300px;
	float: left;
	margin-right: 15px;
	border: 1px solid #444;
 }

 /*Discography section*/
 #section-discography img.album-art {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
	border: 1px solid #444;
 }

 .record-label {
	color: #ff0000;

 }

 .track-light{
	list-style-type: disc;
	padding-left: 20px;
 }

 /* Equipment Seciton styling */
 .image-electionics, image-stage-effects {
	width: 150px;
	height: auto;
	float: left;
	margin-right: 15px;
	border: 1px solid #444;

 }

 /*Footer*/
 footer {
	background-color: #111;
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #444;
 }

 /*copyright at bottom*/

#copyright {
	font-size: 0.8em;
	color: #888;
}

/*Clearfix*/
.clear {
	clear:both;
}

